
@model Star_Security_Services.Models.Data.Clients

@{
    ViewData["Title"] = "EditClient";
    Layout = "~/Views/Shared/_LayoutOfficials.cshtml";
}


<!-- Page Header-->
<div class="page-header no-margin-bottom">
    <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Edit Client</h2>
    </div>
</div>
<!-- Breadcrumb-->
<div class="container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Dashboard" asp-controller="Home">Home</a></li>
        <li class="breadcrumb-item active"><a asp-action="ViewClient">Back to List</a>  </li>
    </ul>
</div>
<section class="no-padding-top">
    <div class="container-fluid">
        <div class="row">
            <!-- Horizontal Form-->
            <div class="col-lg-12">
                <div class="block">
                    <div class="title"><strong class="d-block">Client</strong></div>
                    <div class="block-body">
                        <form class="form-horizontal" asp-action="EditClient" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ClientId" />
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label" asp-for="ClientName" class="control-label"> </label>
                                <div class="col-sm-9">
                                    <input id="inputHorizontalSuccess" asp-for="ClientName" class="form-control" class="form-control form-control-success" />
                                </div>
                                <span asp-validation-for="ClientName" class="text-danger"></span>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label" asp-for="Client_image" class="control-label"> </label>
                                <div class="col-sm-9">
                                    <input id="inputHorizontalSuccess" asp-for="Client_image" class="form-control" class="form-control form-control-success" />
                                </div>
                                <span asp-validation-for="ClientImage" class="text-danger"></span>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label" asp-for="ClientProfession" class="control-label"> </label>
                                <div class="col-sm-9">
                                    <input id="inputHorizontalSuccess" asp-for="ClientProfession" class="form-control" class="form-control form-control-success" />
                                </div>
                                <span asp-validation-for="ClientProfession" class="text-danger"></span>
                            </div>


                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label" asp-for="ClientReview" class="control-label"> </label>
                                <div class="col-sm-9">
                                    <input id="inputHorizontalSuccess" asp-for="ClientReview" class="form-control" class="form-control form-control-success" />
                                </div>
                                <span asp-validation-for="ClientReview" class="text-danger"></span>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-9 offset-sm-3">
                                    <input type="submit" value="Edit Client" class="btn btn-primary">
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@* <h1>EditClient</h1>

<h4>Clients</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditClient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClientId" />
            <div class="form-group">
                <label asp-for="ClientName" class="control-label"></label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientProfession" class="control-label"></label>
                <input asp-for="ClientProfession" class="form-control" />
                <span asp-validation-for="ClientProfession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientImage" class="control-label"></label>
                <input asp-for="ClientImage" class="form-control" />
                <span asp-validation-for="ClientImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientReview" class="control-label"></label>
                <input asp-for="ClientReview" class="form-control" />
                <span asp-validation-for="ClientReview" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
