@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-4 animated slideInDown">Board Of Directors</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="breadcrumb-item"><a href="#">About</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a asp-action="BOD" asp-controller="Home">BOD</a></li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4 align-items-end mb-4">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid rounded" src="~/img/chairman.png">
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h1 class="display-5 mb-4">CHAIRMAN MESSAGE</h1>
                <div class="border rounded p-4">
                    <div class="tab-content" id="nav-tabContent">
                        Star Services is the UAE’s leading supplier of primarily oil and gas, petrochemical, engineering, technical and non-technical, and administrative manpower to an impressive range of multi-national corporations, companies, and UAE government departments. Star Services also plays a major role in providing diverse positions for other demanding projects related to
                        construction and large infrastructure, alternative energy, security, education, and transportation.
                        <br>
                        <br>
                        As a result of its stellar 25-year history of providing quality personnel to quality companies, Star Services has become one of the UAE’s top manpower providers. Our strong brand enables us to attract the best candidates, while our thorough screening among a host of considerations, allow us to select the right candidates for any set of hiring requirements.
                        <br>
                        <br>
                        Most importantly, however, the Star Services team of HR experts, lawyers, accountants, and support staff do more than just oversee recruitment and hiring.
                    </div>
                </div>
            </div>
        </div>
        <div class="border rounded p-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="row g-4">
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="h-100">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                <i class="fa-solid fa-person-military-pointing " style="color: white;"></i>
                            </div>
                            <div class="ps-3">
                                <h4>Man Guarding</h4>
                                <span>Star Security provides a range of solutions to secure assets and people. Our experienced and NSI & SIRA-licensed guards...</span>
                            </div>
                            <div class="border-end d-none d-lg-block"></div>
                        </div>
                        <div class="border-bottom mt-4 d-block d-lg-none"></div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="h-100">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                <i class="fa fa-users text-white"></i>
                            </div>
                            <div class="ps-3">
                                <h4>Dedicated Team</h4>
                                <span>Our highly trained mobile security teams provide a comprehensive range of services to ensure the safety and security...</span>
                            </div>
                            <div class="border-end d-none d-lg-block"></div>
                        </div>
                        <div class="border-bottom mt-4 d-block d-lg-none"></div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                    <div class="h-100">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                <i class="fa fa-phone text-white"></i>
                            </div>
                            <div class="ps-3">
                                <h4>24/7 Available</h4>
                                <span>We are ready to handle all the security related things and available in time of needs.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Our Team</p>
            <h1 class="display-5 mb-5">Exclusive Team</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <img class="img-fluid rounded" src="~/img/anthony.png" alt="">
                    <div class="team-text">
                        <h4 class="mb-0">Anthony</h4>
                        <div class="team-social d-flex">
                            <h4 class="mb-0">Life Guard</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="team-item">
                    <img class="img-fluid rounded" src="~/img/page_header1.png" alt="">
                    <div class="team-text">
                        <h4 class="mb-0">Abhijit</h4>
                        <div class="team-social d-flex">
                            <h4 class="mb-0">Supervisor</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <img class="img-fluid rounded" src="~/img/rashid.png" alt="">
                    <div class="team-text">
                        <h4 class="mb-0">Rashid</h4>
                        <div class="team-social d-flex">
                            <h4 class="mb-0">Manager</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="team-item">
                    <img class="img-fluid rounded" src="~/img/sec_guard.png" alt="">
                    <div class="team-text">
                        <h4 class="mb-0">Faisal</h4>
                        <div class="team-social d-flex">
                            <h4 class="mb-0">Guard</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->