@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-4 animated slideInDown">History</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="breadcrumb-item"><a href="#">About Us</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a asp-action="History" asp-controller="About">Services</a></li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- History -->
<div class="container">
    <h2 class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3 ">About Us</h2>
    <p class="animated slideInDown mt-2">
        Star Security Services and their team are delivering Top-Notch security services across the UAE since <b>15+ years</b>.
        We at Star Security Services LLC are committed to providing the highest quality services to our clients. At Star Security Services, we understand that our clients require a secure and reliable experience they can trust. We are dedicated to providing industry-leading certifications, ethical and responsible industry best practices, and the highest quality services. We strive to strike a balance between providing Clients with the assurance and confidence
        they need to operate their business securely, and the ability to identify and manage potential risks.
    </p>
</div>
<!-- History-end -->
<!-- Legacy Start -->
<div class="container-fluid callback mt-5 py-5">
    <i><h2 class="text-white text-uppercase text-center">Our Legacy</h2></i>
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="bg-white border rounded p-4 p-sm-5 wow fadeInUp" data-wow-delay="0.5s">

                    <img class="img img-fluid" src="~/img/history1.png"
                         style="object-fit: cover;" alt="">

                </div>
            </div>
            <div class="col-lg-5 m-2 mt-0">
                <div class="bg-white border rounded p-4 p-sm-5 wow fadeInUp" data-wow-delay="0.5s">
                    <p>
                        Star Security Services LLC is a company owned and managed by Mr. Mohamed Saeed Abdulla Al Qubaisi, a highly esteemed UAE citizen of Abu Dhabi. Incorporated in 2006 in Abu Dhabi and 2011 in Dubai, Mr. Al Qubaisi is a respected shareholder and board member of major business groups, and also a member of Board of Directors of Abu Dhabi Chamber of Commerce & Industry. With an esteemed background and expansive network, Mr. Al Qubaisi is both a leading businessman in the UAE.
                        Star Security Services have been providing industry-recognized and ISO-accredited professional security services for over 15 years. Our team of highly trained security professionals is comprised of experienced personnel from various countries worldwide, their security background and knowledge are often an extension of their previous occupation within military and police forces of their respective home countries.
                        Our recruitment policy and high standard of training, approved by governing and regulatory authorities such as the Auxiliary Security Services Department (ASSD) Abu Dhabi and Security Industry Regulatory Agency (SIRA) Dubai, ensure that our security guards are the most qualified and experienced individuals that you can depend on.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Legacy End -->
<!-- Commitment Start -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <i><h2 class="text-primary text-uppercase text-center">Our Commitment to Excellence Sets Us Apart</h2></i>
        <div class="bg-white border rounded  p-4 p-sm-5 wow slideInRight col-lg-5 col-md-12 col-sm-12 " data-wow-delay="0.5s">

            <p>
                Star Security Services LLC is a company owned and managed by Mr. Mohamed Saeed Abdulla Al Qubaisi, a highly esteemed UAE citizen of Abu Dhabi. Incorporated in 2006 in Abu Dhabi and 2011 in Dubai, Mr. Al Qubaisi is a respected shareholder and board member of major business groups, and also a member of Board of Directors of Abu Dhabi Chamber of Commerce & Industry. With an esteemed background and expansive network, Mr. Al Qubaisi is both a leading businessman in the UAE and a reliable, compliant, and professional choice for executive business security needs. As Chairman of Mohammed Al Qubaisi Group of Companies, he also serves the Board of Directors of Abu Dhabi National Hotels Company and National Drilling Company. When it comes to security, business owners and C-Suite executives can trust Star
                Security Services to provide the highest standard of protection, adding true value to their business.
            </p>
        </div>
        <div class="bg-primary  border rounded p-4 p-sm-5 wow slideInLeft col-lg-5 col-md-12 col-sm-12 mt-0 m-3 mb-0" data-wow-delay="0.5s">

            <img class="img img-fluid" src="~/img/commitment.png"
                 style="object-fit: cover;" alt="">
        </div>
    </div>
</div>
<!-- Commitment End -->
