@model IEnumerable<Star_Security_Services.Models.Data.Clients>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-4 animated slideInDown">Our Clients</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a asp-action="OurClient" asp-controller="Home">Clients</a></li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Industries We Serve -->
<div class="border rounded p-4 wow fadeInUp industries mt-3" data-wow-delay="0.1s">
    <i><h2 class="text-white text-uppercase text-center">Industries We Serve</h2></i>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 mt-md-3 mt-sm-4 mt-xs-3 mb-2">
            <div>
                <div class="industry justify-content-center ">
                    <img src="~/img/govt.jpg" width="237px" height="200px">
                    <p class="text-center mt-1"><b>Government</b> </p>
                </div>
            </div>
        </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mt-md-3 mt-sm-4 mb-2 ">
        <div>
        <div class="industry justify-content-center">
        <img src="~/img/oil_gas.webp" width="237px" height="200px">
        <p class="text-center mt-1"><b>Oil And Gas</b> </p>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mt-md-3 mt-sm-3 mb-2">
        <div>
        <div class="industry justify-content-center">
        <img src="~/img/construction.jpg" width="237px" height="200px">
        <p class="text-center mt-1"><b>Construction</b> </p>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mt-md-3 mt-sm-3 mb-2">
        <div>
        <div class="industry justify-content-center">
        <img src="~/img/education.webp" width="237px" height="200px">
        <p class="text-center mt-1"><b>Education Institutes</b> </p>
        </div>
        </div>
        </div>
        </div>

        <div class="row mt-3">
        <div class="col-lg-3 col-md-6 col-sm-12 mt-md-3 mt-sm-3 mb-2">
        <div>
        <div class="industry justify-content-center">
        <img src="~/img/hospital.jpg" width="237px" height="200px">
        <p class="text-center mt-1"><b>Hospitals</b> </p>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-2 mt-3">
        <div>
        <div class="industry justify-content-center">
        <img src="~/img/malls.jpg" width="237px" height="200px">
        <p class="text-center mt-1"><b>Malls</b> </p>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mt-md-3 mt-sm-3 mb-2">
        <div>
        <div class="industry justify-content-center">
        <img src="~/img/company.jpg" width="237px" height="200px">
        <p class="text-center mt-1"><b>Companies</b> </p>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mt-md-3 mt-sm-3 mb-2">
        <div>
        <div class="industry justify-content-center">
        <img src="~/img/engr.jpg" width="237px" height="200px">
        <p class="text-center mt-1"><b>Engineering</b> </p>
        </div>
        </div>
        </div>
        </div>
    </div>
    <!-- Industries We Serve -->
 
    <!-- Industries End -->
    <!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Testimonial</p>
            <h1 class="display-5 mb-5">What Our Clients Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.3s">
            @*       Fetching "Testimonials" From Database below: *@
            @foreach (var data in Model)
            {
                <div class="testimonial-item">
                    <div class="testimonial-text border rounded p-4 pt-5 mb-5 testimonial-set">
                        <div class="btn-square bg-white border rounded-circle">
                            <i class="fa fa-quote-right fa-2x text-primary"></i>
                        </div>
                        <p class="p-style">@Html.DisplayFor(modelItem => data.ClientReview)  </p>
                    </div>
                    <img class="rounded-circle mb-3" src="~/images/@Html.DisplayFor(modelItem => data.ClientImage)" alt="">
                    <h4>@Html.DisplayFor(modelItem => data.ClientName)</h4>
                    <span>@Html.DisplayFor(modelItem => data.ClientProfession)</span>
                </div>
            }
            @*    <div class="testimonial-item">
            <div class="testimonial-text border rounded p-4 pt-5 mb-5 testimonial-set">
            <div class="btn-square bg-white border rounded-circle">
            <i class="fa fa-quote-right fa-2x text-primary"></i>
            </div>
            <p class="p-style">
            This was the second time we are using your services. Was great to have you guys back as to help us again.
            Everything was excellent from the Security officer to you personal in the office.
            </p>
            </div>
            <img class="rounded-circle mb-3" src="~/img/team-2.jpg" alt="">
            <h4>A. Quintino</h4>
            <span>Embassy Administrative Assistant</span>
            </div>
            <div class="testimonial-item">
            <div class="testimonial-text border rounded p-4 pt-5 mb-5 testimonial-set">
            <div class="btn-square bg-white border rounded-circle">
            <i class="fa fa-quote-right fa-2x text-primary"></i>
            </div>
            <p class="p-style">  Overall, I was impressed with the teams look, and attitude. Everyone was ready, willing and able to complete all tasks put before them. My only suggestion is keep doing what it is you are doing. This was my 6th event of this type, with the help of your staff, we ran a great, safe, secure, and efficient operation from every aspect.</p>
            </div>
            <img class="rounded-circle mb-3" src="~/img/testimonial-2.jpg" alt="">
            <h4>S.Parrish</h4>
            <span>Event Manager</span>
            </div>
            <div class="testimonial-item">
            <div class="testimonial-text border rounded p-4 pt-5 mb-5 testimonial-set">
            <div class="btn-square bg-white border rounded-circle">
            <i class="fa fa-quote-right fa-2x text-primary"></i>
            </div>
            <p class="p-style">Management and Guards were professional and friendly. I certainly would recommend <u>Star Security Services</u> to anyone who inquired.</p>
            </div>
            <img class="rounded-circle mb-3" src="~/img/testimonial-3.jpg" alt="">
            <h4>Anna Bailey</h4>
            <span>Legal Executive </span>
            </div>
            <div class="testimonial-item">
            <div class="testimonial-text border rounded p-4 pt-5 mb-5 testimonial-set">
            <div class="btn-square bg-white border rounded-circle">
            <i class="fa fa-quote-right fa-2x text-primary"></i>
            </div>
            <p class="p-style">We had a very good experience with Star Security Services – the guards were professional, courteous and on time. Very professional and detailed oriented, which in my business is absolutely required in order to garner success.</p>
            </div>
            <img class="rounded-circle mb-3" src="~/img/business.jpg" alt="">
            <h4>Durang</h4>
            <span>Business Man</span>
            </div>
            <div class="testimonial-item">
            <div class="testimonial-text border rounded p-4 pt-5 mb-5 testimonial-set">
            <div class="btn-square bg-white border rounded-circle">
            <i class="fa fa-quote-right fa-2x text-primary"></i>
            </div>
            <p class="p-style">I would like to thank you for your quick response to the associations need for security at the clubhouse/pool area. Star Security Services has truly made a difference in the safety level at Glenn Estates.</p>
            </div>
            <img class="rounded-circle mb-3" src="~/img/testimonial-4.jpg" alt="">
            <h4>Michelle Whitlock</h4>
            <span>Hotel Manager</span>
            </div> *@
        </div>
    </div>
</div>
<!-- Testimonial End -->
<!-- Branches Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">

            <h1 class="display-5 mb-5">Star Security Branches</h1>
        </div>
        <div class="owl-carousel project-carousel wow fadeInUp" data-wow-delay="0.3s">
            <div class="project-item pe-5 pb-5">
                <div class="project-img mb-3">
                    <iframe class="position-relative" src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2884.239259825447!2d54.37229037425347!3d24.474903878182953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3e5e67c1c4e57ac5%3A0x63339ddab306a991!2sF9FF%2BXW9%20Star%20Security%20Services%20L.LC.%20-%20Al%20Danah%20-%20Zone%201%20-%20Abu%20Dhabi%20-%20United%20Arab%20Emirates!3m2!1d24.474903899999997!2d54.374865299999996!5e1!3m2!1sen!2sus!4v1707339363493!5m2!1sen!2sus" width="300" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="project-title">
                    <h4 class="mb-0"> Al-Danah, Abu Dhabi</h4>
                </div>
            </div>
            <div class="project-item pe-5 pb-5">
                <div class="project-img mb-3">
                    <iframe class="position-relative" src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d5725.354884353751!2d55.44764!3d25.399527!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjXCsDIzJzU4LjMiTiA1NcKwMjYnNTEuNSJF!5e1!3m2!1sen!2sus!4v1707339011747!5m2!1sen!2sus" width="300" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="project-title">
                    <h4 class="mb-0"> Al Rashidiya 2 Branch</h4>
                </div>
            </div>
            <div class="project-item pe-5 pb-5">
                <div class="project-img mb-3">
                    <iframe class="position-relative" src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d736037.7715424624!2d54.19420409345668!3d24.868702669898287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3e5f6bbd5ce4b0db%3A0x5ffb1d88e4626c3b!2sStar%20Security%20Services%20LLC%2C%20Al%20Moosa%20Tower%201%20-%20Trade%20Centre%20-%20Trade%20Centre%201%20-%20Dubai%20-%20United%20Arab%20Emirates!3m2!1d25.2167258!2d55.2776177!5e1!3m2!1sen!2sus!4v1707339687012!5m2!1sen!2sus" width="300" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="project-title">
                    <h4 class="mb-0">Al-Moosa Tower</h4>
                </div>
            </div>
            <div class="project-item pe-5 pb-5">
                <div class="project-img mb-3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d735261.7780376518!2d53.98537754687502!3d24.998704699999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3e5f6d5aa95c7971%3A0xff381f16bb09b7e8!2sStar%20Security%20Services%20LLC%20new%20accomodation%20-%20Unnamed%20Road%20-%20Mina%20Jebel%20Ali%20-%20Jabal%20Ali%20Industrial%20First%20-%20Dubai%20-%20United%20Arab%20Emirates!3m2!1d24.998704699999998!2d55.138942!5e1!3m2!1sen!2sus!4v1707339872922!5m2!1sen!2sus" width="300" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="project-title">
                    <h4 class="mb-0">Near Jabel Ali Industry</h4>

                </div>
            </div>
            <div class="project-item pe-5 pb-5">
                <div class="project-img mb-3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d45920.60589202804!2d55.17246917074301!3d25.087480161787465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3e5f6c0fdcf8c319%3A0xc1b5948ee66f3482!2sAl%20Barsha%20-%20Dubai%20-%20United%20Arab%20Emirates!3m2!1d25.083827!2d55.220397!5e1!3m2!1sen!2sus!4v1707339970055!5m2!1sen!2sus" width="300" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="project-title">
                    <h4 class="mb-0">Al Barsha , UAE</h4>

                </div>
            </div>
        </div>
    </div>
</div>